/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    
}


header {
    display: flex;
    background-color: #e9ecef;
    padding: 20px;
    align-items: center;
    
}

.page-title {
    flex-grow: 1; 
    text-align: center;
    font-size: 32px; /* Make the title larger */
    color: #0051ff; /* Theme color for the title */
    font-weight: bold; /* Makes the title text bold */
    margin: 0 20px; /* Spacing from the home button and the right edge */
    text-transform: uppercase;
    letter-spacing: 1px; /* Spacing between letters */
}

.home-button {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    flex-basis: 23%; 
}

.page-title {
    flex-grow: 1; /* Takes the remaining space in the header */
    text-align: center;
    font-size: 24px;
    padding-left: 20px; /* Add some spacing between the button and title */
}

.content {
    display: flex;
    margin-left: 50px;
}

.content-image {
    width: 35%; 
    height: auto; 
    display: block; 
    margin: 0 auto; /* for center alignment */
}

.image-container {
    text-align: center;
    margin-top: 20px; 
}


.nav-bar {
    display: flex; 
    flex-direction: column; /* Stack items vertically */
    justify-content: space-around;
    height: 100%;
    position: fixed; /* Keep navbar fixed on scroll */
    top: 80px; /* Set top position to the height of the header to avoid overlap */
    height: calc(100% - 80px); /* Subtract the header height from the total height */
    position: fixed; /* Fixed positioning */
    left: 0;
    width: 250px; /* takes up 1/4  */
    height: 100%;
    background-color: #dee2e6;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.nav-bar ul {
    height: 50%; 
    display: flex; 
    flex-direction: column; /* Stack list items vertically */
    justify-content: space-around; /* Evenly distribute the available space around items */
    padding: 0;
    
}

.nav-bar li a {
    display: block;
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav-bar li a:hover, .nav-bar li a.active {
    background-color: #007bff; 
    color: white; 
}

.main-content {
    padding: 20px;
    margin-left: 250px; 
   
}

.main-content li{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.main-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    line-height: 1.8;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
}

.section {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    margin: 20px 0;
}

.references {
    background-color: #d1ecf1;
    padding: 20px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    font-size: 20px;
}

/* Styling for the video container to make it responsive */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 20px 0;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.sub-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sub-section-title {
    font-size: 24px;
    color: #17a2b8; /* A fresh color for sub-titles */
    margin-bottom: 10px;
}

.resources-list {
    list-style: none;
    padding-left: 0;
}

.resources-list li {
    margin-bottom: 10px;
}

.resources-list li a {
    text-decoration: none;
    color: #28a745; /* Green color for links */
    transition: color 0.3s ease;
}

.resources-list li a:hover {
    color: #19692c; /* Darker shade of green on hover */
}

/* Blue button with contrast text */
.nostr-button {
    display: block; 
    width: calc(100% - 20px); 
    margin: 0 10px; 
    padding: 15px 0; 
    background-color: #0d52ff;
    color: white; 
    text-align: center; 
    border-radius: 20px; 
    font-size: 24px;
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.nostr-button:hover {
    background-color: blueviolet; 
}

@media screen and (max-width: 768px) {
    .nav-bar {
        width: 100%;
        height: auto;
        position: static;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }
    
    .video-container iframe {
        width: 100%;
        height: auto;
    }

    .content-image {
        width: 100%;
        height: auto;
    }
}
